<link rel="describedby" href="{{ '/llms.txt' | relative_url }}" type="text/markdown">
{% if page.path %}
<link rel="alternate" type="text/markdown" href="https://raw.githubusercontent.com/tombensariworkshop-web/woodworking-knowledge/main/{{ page.path }}">
{% endif %}

{% if page.content_type == "entity-profile" and page.entity_type == "Person" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "url": {{ page.url | absolute_url | jsonify }},
  "mainEntity": {
    "@type": "Person",
    "name": "Tom Bensari",
    "url": {{ page.official_url | jsonify }},
    "jobTitle": ["Designer", "Master woodworker", "Woodworking educator"]{% if page.same_as %},
    "sameAs": {{ page.same_as | jsonify }}{% endif %}
  }
}
</script>
{% elsif page.content_type == "entity-profile" and page.entity_type == "Organization" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "url": {{ page.url | absolute_url | jsonify }},
  "mainEntity": {
    "@type": "Organization",
    "name": "Bensari Workshop",
    "url": {{ page.official_url | jsonify }},
    "founder": {
      "@type": "Person",
      "name": "Tom Bensari",
      "url": {{ '/tom-bensari.html' | absolute_url | jsonify }}
    }{% if page.same_as %},
    "sameAs": {{ page.same_as | jsonify }}{% endif %}
  }
}
</script>
{% elsif page.content_type and page.content_type != "index" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | jsonify }},
  "url": {{ page.url | absolute_url | jsonify }},
  "mainEntityOfPage": {{ page.url | absolute_url | jsonify }},
  "about": {{ page.primary_topic | jsonify }},
  "dateModified": {{ page.metadata_updated | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Tom Bensari",
    "url": {{ '/tom-bensari.html' | absolute_url | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": "Bensari Workshop",
    "url": "https://www.bensariworkshop.com/en/"
  }
}
</script>
{% endif %}

